## PROYEK MATAKULIAH PBA
### INDONESIAN NAMED ENTITY RECOGNITION USING POS TAGGING
### KELOMPOK EDA
####12S18020 - Dita L. Sastri Sihombing
####12S18029 - Estomihi Rascana Sirait
####12S18061 - Angela Friscilia Simamora

### IMPORT LIBRARY

In [1]:
#Importing necessary Libraries
import numpy as np
import pandas as pd
import nltk 
import matplotlib.pyplot as plt
import seaborn as sns
from nltk import word_tokenize
from nltk.tag import CRFTagger
from nltk.corpus import state_union
from nltk.tokenize import PunktSentenceTokenizer

import time
import re
import unicodedata
import math
import csv
import re
import pickle


# pos tagging 
from collections import Counter

### LOAD DATASET

In [2]:
from google.colab import files
uploaded = files.upload()

Saving SINGGALANG.tsv to SINGGALANG.tsv

In [3]:
dataset = pd.read_csv('SINGGALANG.tsv', sep='\t',engine="python", quoting=csv.QUOTE_NONE)

### EXPLORATORY DATA ANALYSIS

In [11]:
dataset

                   Ia             O
0            menjabat             O
1             sebagai             O
2            Presiden             O
3              ketiga             O
4               Mesir         Place
...               ...           ...
1478262            di             O
1478263      kalangan             O
1478264       pelajar             O
1478265  Muhammadiyah  Organisation
1478266             .             O

[1478267 rows x 2 columns]

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478267 entries, 0 to 1478266
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Ia      1478247 non-null  object
 1   O       1478267 non-null  object
dtypes: object(2)
memory usage: 22.6+ MB

In [13]:
dataset.describe()

             Ia        O
count   1478247  1478267
unique   100837        4
top           ,        O
freq      88144  1340022

In [14]:
print(dataset)

                   Ia             O
0            menjabat             O
1             sebagai             O
2            Presiden             O
3              ketiga             O
4               Mesir         Place
...               ...           ...
1478262            di             O
1478263      kalangan             O
1478264       pelajar             O
1478265  Muhammadiyah  Organisation
1478266             .             O

[1478267 rows x 2 columns]

In [15]:
dataset.isnull().sum()

Ia    20
O      0
dtype: int64

In [16]:
print(dataset.columns, dataset.shape)

Index(['Ia', 'O'], dtype='object') (1478267, 2)

In [17]:
print(dataset.loc[101])

Ia    ,
O     O
Name: 101, dtype: object